<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Delegator_POBoxRestrictions>
            <version>0.1.0</version>
        </Delegator_POBoxRestrictions>
    </modules>

    <global>
        <models>
            <poboxrestrictions>
                <class>Delegator_POBoxRestrictions_Model</class>
            </poboxrestrictions>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Delegator_POBoxRestrictions_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                    <multishipping_shipping>Delegator_POBoxRestrictions_Block_Checkout_Multishipping_Shipping</multishipping_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <poboxrestrictions>
                <class>Delegator_POBoxRestrictions_Helper</class>
            </poboxrestrictions>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <poboxrestrictions>
                    <file>poboxrestrictions.xml</file>
                </poboxrestrictions>
            </updates>
        </layout>
    </frontend>

    <default>
        <poboxrestrictions>
            <general>
                <enabled>true</enabled>
            </general>
            <allowed>
                <methods>usps</methods>
            </allowed>
        </poboxrestrictions>
    </default>
</config>
