<?xml version="1.0" encoding="utf-8"?>
<config>
    <sections>
        <poboxrestrictions>
            <label>PO Box Restrictions</label>
            <tab>delegator</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <comment>
                                <![CDATA[Use this option to quickly toggle the
                                selected PO Box shipping restrictions. When
                                enabled, PO Box addresses can only receive their
                                order via methods selected below.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </general>
                <allowed translate="label">
                    <label>Allowed Shipping Methods</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <methods translate="label comment">
                            <label>Shipping Methods</label>
                            <comment>
                                <![CDATA[Select the methods that are allowed to ship to PO Boxes.]]>
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>poboxrestrictions/source_methods</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </methods>
                    </fields>
                </allowed>
                <warning translate="label">
                    <label>Warning</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <comment>
                                <![CDATA[Should a warning be displayed when a user is
                                entering their address?]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <message translate="label">
                            <label>Warning Message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message>
                        <custom_css translate="label comment">
                            <label>Custom CSS</label>
                            <comment>
                                <![CDATA[Use this field to insert custom CSS for the
                                warning message &lt;div&gt;. You can also style the message
                                with the #poboxrestrictions-warning CSS selector.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custom_css>
                    </fields>
                </warning>
            </groups>
        </poboxrestrictions>
    </sections>
</config>
