<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Delegator_POBoxRestrictions>
            <version>0.0.1</version>
        </Delegator_POBoxRestrictions>
    </modules>

    <global>
        <models>
            <poboxrestrictions>
                <class>Delegator_POBoxRestrictions_Model</class>
            </poboxrestrictions>
            <sales>
                <rewrite>
                    <quote_address>Delegator_POBoxRestrictions_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <poboxrestrictions>
                <class>Delegator_POBoxRestrictions_Helper</class>
            </poboxrestrictions>
        </helpers>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <sales_quote_collect_totals_after_poboxrestrictions>
                        <type>model</type>
                        <class>Delegator_POBoxRestrictions_Model_Observer</class>
                        <method>checkRestrictions</method>
                        <args></args>
                    </sales_quote_collect_totals_after_poboxrestrictions>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </global>

    <default>
        <poboxrestrictions>
            <allowed>
                <methods>usps</methods>
            </allowed>
        </poboxrestrictions>
    </default>
</config>
